body {
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;
    background-image: url("../arquivos/img/coutbask.jpg");
    background-position: center;
    background-size: cover;
    /* overflow-x: hidden; */
    /* background-image: linear-gradient( to bottom, #006cb7, #ffffff ); */
}
.header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: white;
    position: fixed;
    border-bottom: 3px solid #006cb7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    
}
.navbar{
    width: 30%;
    display: flex;
    justify-content:space-between;
    margin-right: 70px;
    list-style: none;
    padding-bottom: 10px;
}
.navbar a{
    color: #006cb7;
    text-decoration: none;
}

.navbar .presente{
    color: #006cb7;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    height: 70px;
    width: 100px;
    margin-left: 100px;
}
.vazio{
    height: 70px;
}
.total{
    padding-top: 90px;
    height: 600px;
    /* background-image: url("./arquivos/img/coutbask.jpg"); */
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    
}
.texto{
    color: white;
    width: 60%;
    height: 40px;
    padding-top: 50px;
    padding-right: 50px;
 
}
.texto h1{
    text-align: center;
    padding-bottom: 10px;
}
.texto h3{
    text-align: center;
    padding-bottom: 10px;
}
.ntp{
    display: flex;
    background-color: black;
    opacity: 0.80;
    height: 300px;

}
.footer{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #006cb7;
    color: white;
    border-top: black solid 2px;
}

.dono {
    font-size: 12px;
    
}
