body {
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;

}
.header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid #006cb7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    
}
.header img {
    width: 50% ;
    padding-top: 3%;}
    .titulo{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: #006cb7;
    }
.navbar{
    width: 15%;
    display: flex;
    justify-content:space-between;
    margin-right: 70px;
    list-style: none;

}
.navbar a{
    color: #006cb7;
    text-decoration: none;
}

.navbar .presente{
    color: #006cb7;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    height: 70px;
    width: 100px;
    margin-left: 100px;
}
 .div-results{
    background-image: url("../arquivos/img/todostimes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    
}

.caixa-rank{
    margin-top: 10%;
     display: flex;
    height: 70%;
    width: 40%;
    background-color: ghostwhite;
    opacity: 0.9;
    border: 5px solid grey;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10%;
    
 
 }
 .caixa-rank h1 {
    margin-top: 0;
 }
 