
body {
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;
    background-color: white;
    /* overflow-x: hidden; */
    /* background-image: linear-gradient( to bottom, #006cb7, #ffffff ); */
}
.header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: white;
    position: fixed;
    border-bottom: 3px solid #006cb7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    
}
.navbar{
    width: 30%;
    display: flex;
    justify-content:space-between;
    margin-right: 70px;
    list-style: none;
}
.navbar a{
    color: #006cb7;
    text-decoration: none;
}

.navbar .presente{
    color: #006cb7;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    height: 70px;
    width: 100px;
    margin-left: 100px;
}

        

.total {
    height: 580px;
    padding: 40px 0;
    font-size: 36px;
    color: white;
    background-image: url("../arquivos/img/allstargame.jfif");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; */
    
  
    
}
.highlights {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-bottom: 100px; */
    color: white;
    background-image: linear-gradient( to bottom, #006cb7, #ffffff );
    height: 475px;

}
.tittle {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #006cb7;
    text-align: center;
    font-size: 20px;
}
.tittle1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.teste{
    height: 475px;
    display: flex;
    flex-direction: column;
    
    
}

.jogos{
    height: 350px;
    width: 100%;
    text-align: center;
    align-items:center;
    justify-content:center;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}
 .boxgame {
    background-color: #4d95c8;
    height: 150px;
    width: 30%;
    border: black solid 2px;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    
}

.boxgame img{
    height: 70px;
   
}

.motw{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: row;
    background-image: linear-gradient( to top, #006cb7, #ffffff );
}
.boxplayer {
    /* border: blue solid 2px; */
    height: 300px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
    margin-left: 100px;
    
}
.boxplayer h3 {
    margin-top: 0px;
    margin-right: 105px;
}
.boxplayer h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    margin-right: 105px;
}
.boxplayer img {
    height: 200px;
    width: 100%;
    margin-right: 105px;
    
}

.footer{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #006cb7;
    color: white;
    border-top: black solid 2px;
}

.dono {
    font-size: 12px;
    
}

  
 