body {
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(213, 213, 213);
 
}
.header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid #0B779B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    
}
 .header img {
    width: 50% ;
    padding-top: 3%;}
    .titulo{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: #0B779B;
    }
.navbar{
    width: 15%;
    display: flex;
    justify-content:space-between;
    margin-right: 70px;
    list-style: none;

}
.navbar a{
    color: #0B779B;
    text-decoration: none;
}

.navbar .presente{
    color: #0B779B;
    text-decoration: none;
    font-weight: bold;
}
.nome {
    display: flex;
    
}
.nome h1{
    display: flex;
    margin-right: 200px;
    color: #0B779B;
   height: 90%;

}
.logo {
    height: 70px;
    width: 100px;
    margin-left: 100px;
}

.footer{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0B779B;
    color: white;
    border-top: black solid 2px;
}

.dono {
    font-size: 12px;
    
}
.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pergunta p {
    font-size: 1.2rem;
}

.botaoQuiz {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    background-color: #1E1260;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5%;
}

.botaoQuiz:hover {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #0B779B;
    color: black;
  }
 .pgt {
    
        border: 1px solid #1E1260;
        border-radius: 5px;
        background-color: transparent;
        width: 80%;
        height: 35px;
        outline: 0;
        color: #1E1260;
        font-size: 0.8rem;
        text-align: center;
        transition: 0.3s;
    }
    .pgt:hover {
        border: 1px solid #0B779B;
        color: #0B779B;
    }
    .mensagemQuiz {
        margin-bottom: 5%;
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
        color: #0B779B;
    }
     
